<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>校车安排</title>
<link rel="stylesheet" href="../layui.css">
<link rel="stylesheet" href="../public.css">
<script type="text/javascript" src="../layui.js"></script>
<script type="text/javascript" src="../page.js"></script>

<script type="text/javascript" src="../webjars/jquery/3.4.1/dist/jquery.min.js"></script>
<style type="text/css">

</style>
</head>
<body>

	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 0px;">
		<legend>教室申请审核</legend>
	</fieldset>
	<div class="layui-main">
	<div class="none" id="location" th:text="${location}"></div>
		<table class="layui-table" lay-size="lg" >
			<colgroup>
				<col width="5%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="10%">
				<col width="15%">
				<col width="10%">
				<col width="10%">
			</colgroup>
			<thead>
				<tr>
					<th>ID</th>
					<th>申请人</th>
					<th>申请人学号</th>
					<th>学院</th>
					<th>班级</th>
					<th>课程</th>
					<th>申请教室</th>
					<th>上课时间</th>
					<th>申请状态</th>
					<th>备注</th>
					<th>操作</th>
				</tr>
			</thead>
			
			<tr th:each="obj: ${classesList}">
				<td th:text="${obj.id}"></td>
				<td th:text="${obj.applyName}"></td>
				<td th:text="${obj.applyStudentNumber}"></td>
				<td th:text="${obj.applyCollage}"></td>
				<td th:text="${obj.applyClass}"></td>
				<td th:text="${obj.applyCourse}"></td>
				<td th:text="${obj.applyClassroom}"></td>
				<td th:text="${obj.applyTime}"></td>
				<td th:text="${obj.applyState == 1} ? '同意' : (${obj.applyState == 2}?'未通过':'未审核')"></td>
				<td th:text="${obj.remarks}"></td>
				<td>
					<div class="edit_delete">
						<a class="layui-btn-a layui-btn"
							th:href="'editClasses/' + ${obj.id}+'/1'">&nbsp;通&nbsp;过&nbsp;</a>&nbsp;&nbsp;
						<a class="layui-btn-a layui-btn layui-btn-danger"
							th:href="'editClasses/' + ${obj.id}+'/2'">未通过</a>&nbsp;&nbsp;
						<!-- <a class="layui-btn layui-btn-danger layui-btn-a"
							th:href="'deleteSchoolBusById?id=' + ${obj.id}">删除</a> -->
					</div> 
					
				</td>
			</tr>
		</table>
		<!-- 新加代码 start -->
		<div class="page">
		<div class="layui-box layui-laypage layui-laypage-default"
			id="layui-laypage-1">
			 
			<a href="javascript:;" class="layui-laypage-pr000000000 ev"
				 onclick="selectSchoolBusList('index');">首页</a> 
			<a href="javascript:;" class="layui-laypage-pr000000000 ev" onclick="selectSchoolBusList('pre');">上一页</a> 
				
				<a href="javascript:;"
				class="layui-laypage-next" onclick="selectSchoolBusList('next');">下一页</a>
				<a href="javascript:;"
				class="layui-laypage-next" onclick="selectSchoolBusList('last');"> 尾页</a>
				<a href="javascript:;"
				class="layui-laypage-next">当前第<span id="currentPage" class="num" th:text="${pageData.currentPage}">3</span>页</a>
				<a href="javascript:;"
				class="layui-laypage-next">总页数：<span id="pages" class="num" th:text="${pageData.pages}">3</span>页</a>
				<a href="javascript:;"
				class="layui-laypage-next">共 计<span id="count" class="num" th:text="${pageData.count}">100 </span>条</a>
				<span class="layui-laypage-skip">跳转到第<input id="jump" type="text" min="1"
				value="3" class="layui-input">页
				<button type="button" class="layui-laypage-btn" onclick="selectSchoolBusList('jump');">确定</button></span>
		</div>
		</div>

	</div>
	

</body>
</html>